.r-button-main-box {
  width: auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #606060;
  position: relative;
  height: 2.5rem;
}
.r-button-label-icon-box {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.r-button-label-icon-box span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-text-button {
  background-color: transparent !important;
}

.r-btn-none {
  background-color: transparent;
  color: #000;
  fill: #000;
  box-shadow: none;
}
.r-btn-none:hover {
  background-color: transparent;
}
.r-btn-success {
  background-color: #3f7d54;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-success:hover {
  background-color: #056639;
}
.r-btn-success.r-text-button {
  color: #3f7d54 !important;
  fill: #3f7d54 !important;
  font-weight: 500;
}
.r-btn-success.r-text-button:hover {
  background-color: #3f7d5420 !important;
}

.r-btn-danger {
  background-color: #cb2a29;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-danger:hover {
  background-color: #9c1f1e;
}
.r-btn-danger.r-text-button {
  color: #cb2a29 !important;
  fill: #cb2a29 !important;
  font-weight: 500;
}
.r-btn-danger.r-text-button:hover {
  background-color: #cb2a2920 !important;
}

.r-btn-info {
  background-color: #2e86c1;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-info:hover {
  background-color: #2375ac;
}
.r-btn-info.r-text-button {
  color: #2e86c1 !important;
  fill: #2e86c1 !important;
  font-weight: 500;
}
.r-btn-info.r-text-button:hover {
  background-color: #2e86c120 !important;
}

.r-btn-dark {
  background-color: #606062;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-dark:hover {
  background-color: #424246;
}
.r-btn-dark.r-text-button {
  color: #424246 !important;
  fill: #424246 !important;
  font-weight: 500;
}
.r-btn-dark.r-text-button:hover {
  background-color: #42424620 !important;
}

.r-btn-warning {
  background-color: #ffa500;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-warning:hover {
  background-color: #df9100;
}
.r-btn-warning.r-text-button {
  color: #ffa500 !important;
  fill: #ffa500 !important;
  font-weight: 500;
}
.r-btn-warning.r-text-button:hover {
  background-color: #ffa50020 !important;
}

.r-btn-black {
  background-color: #000000;
  color: #fafafa;
  fill: #fafafa;
}
.r-btn-black:hover {
  background-color: #202020;
}
.r-btn-black.r-text-button {
  color: #000000 !important;
  fill: #000000 !important;
  font-weight: 500;
}
.r-btn-black.r-text-button:hover {
  background-color: #19191920 !important;
}

.r-btn-sm {
  height: 2rem;
  font-size: 0.9rem;
  padding: 7.5px 10px;
}

.r-btn-md {
  font-size: 1.2rem;
  padding: 7.5px 10px;
}

.r-btn-lg {
  font-size: 1.5rem;
  padding: 7.5px 10px;
}

.r-btn-rounded {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.r-btn-rounded-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 2.5rem !important;
  width: 2.5rem !important;
}

.r-btn-disabled {
  pointer-events: none;
  opacity: 0.8;
}

.r-button-main-box:hover .r-tooltip {
  visibility: visible;
}

.r-tooltip {
  position: absolute;
  top: 120%;
  visibility: hidden;
  font-size: 1rem;
  background-color: #00000099;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 99 !important;
  width: clamp(150px, 200px, 250px);
  white-space: wrap !important;
}
.r-tooltip-bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00000090 transparent;
}
.r-tooltip-top {
  top: -140%;
}
.r-tooltip-top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00000090 transparent transparent transparent;
}
.r-tooltip-right {
  right: -210px;
  top: 50%;
  transform: translateY(-50%);
}

.r-tooltip-right::after {
  content: " ";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #00000090 transparent transparent;
}
.r-tooltip-left {
  left: -210px;
  top: 50%;
  transform: translateY(-50%);
}

.r-tooltip-left::after {
  content: " ";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: calc(100%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #00000090;
}

.r-loading {
  border: 2px solid #f3f3f3;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
