.r-alertMainBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  z-index: 9997 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  opacity: 1;
  overflow: hidden;
}

.r-showAlertMainBox {
  animation: showAlertMainBox 0.4s ease;
}

@keyframes showAlertMainBox {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.r-hideAlertMainBox {
  animation: hideAlertMainBox 0.2s ease forwards;
}

@keyframes hideAlertMainBox {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.r-alertBackLayerBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
}

.r-alertBox {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  min-width: 480px;
  max-width: 95vw;
  max-width: 95dvw !important;
  min-height: 200px;
  width: auto;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
  transform: scale(0.1);
}

.r-showAlertBox {
  animation: showAlertBox 0.3s ease forwards;
}

@keyframes showAlertBox {
  to {
    transform: scale(1);
  }
}

.r-hideAlertBox {
  animation: hideAlertBox 0.2s ease forwards;
  overflow: hidden;
}

@keyframes hideAlertBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}

.r-alertBoxHeaderTitle {
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 7.5px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.r-htmlx-content {
  margin-top: calc(1.2rem + 10px);
}

.r-alertBoxCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.r-alertBoxCloseButton svg {
  width: 40px;
  transition: all 0.4s ease;
}

.r-alertBoxCloseButton:hover svg {
  width: 45px;
  color: #000000 !important;
  stroke: #000000 !important;
}

.r-alertBoxTitle {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #505050;
}

.r-alertBoxTitleContent {
  min-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #606060;
}

.r-alertButtonsBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.r-alertBoxTitleIcon {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-alertBoxTitleIcon svg {
  width: 100%;
  display: block;
}

/* PLACE THE DIALOG BOX IN THE TOP RIGHT CORNER */
.r-top-right {
  justify-content: flex-end !important;
  align-items: flex-start;
  padding: 10px;
}
/* PLACE THE DIALOG BOX IN THE TOP LEFT CORNER */
.r-top-left {
  justify-content: flex-start !important;
  align-items: flex-start;
  padding: 10px;
}
/* PLACE THE DIALOG BOX IN THE BOTTOM LEFT CORNER */
.r-bottom-left {
  justify-content: flex-start !important;
  align-items: flex-end;
  padding: 10px;
}
/* PLACE THE DIALOG BOX IN THE BOTTOM RIGHT CORNER */
.r-bottom-right {
  justify-content: flex-end !important;
  align-items: flex-end;
  padding: 10px;
}
/* PLACE THE DIALOG BOX IN THE CENTER LEFT*/
.r-center-left {
  justify-content: flex-start !important;
  align-items: center;
  padding: 10px;
}
/* PLACE THE DIALOG BOX IN THE CENTER RIGHT */
.r-center-right {
  justify-content: flex-end !important;
  align-items: center;
  padding: 10px;
}

@media only screen and (max-width: 620px) {
  .r-alertBox {
    min-width: 95vw;
    min-width: 95dvw;
  }
}
