.r-input-box {
  position: relative;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  border-radius: 5px;
  transition: all 0.4s ease;
  height: 2.5rem;
  color: #00000080;
  width: 100%;
}
.r-input-box:focus {
  border: 1px solid red !important;
}
.r-input-box input {
  padding: 5px;
  font-size: 1.15rem;
  color: #000000;
  outline: none;
  border: none;
  background: transparent;
  border: none;
  width: 100%;
  padding-left: 5px;
  margin-left: 5px;
}

.r-input-box input:focus {
  border: none;
  outline: none;
}

.r-input-main-box-label {
  font-size: 0.9rem;
  transition: all 0.4s ease;
  color: #404040;
  white-space: nowrap;
  font-size: 0.9rem;
  margin-left: 5px;
  font-weight: 400;
  text-align: left;
}

.r-input-box svg {
  width: 2.25rem;
  height: 100%;
  padding: 7px;
  color: #464646;
}

.r-input-box svg:hover {
  cursor: pointer;
}

.r-input-main-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.r-input-box-description,
.r-input-box-description-default {
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  padding: 2px 5px;
  color: #00000080;
}
.r-input-box-description-success {
  color: #3f7d54;
}
.r-input-box-description-danger {
  color: #cb2a29;
}
.r-input-box-description-info {
  color: #2e86c1;
}
.r-input-box-description-warning {
  color: #ffa500;
}

.r-input-status-success {
  color: #3f7d54;
  box-shadow: #3f7d54 0px 0px 0px 1px !important;
}
.r-input-status-danger {
  color: #cb2a29;
  box-shadow: #cb2a29 0px 0px 0px 1px !important;
}
.r-input-status-info {
  color: #2e86c1;
  box-shadow: #2e86c1 0px 0px 0px 1px !important;
}
.r-input-status-warning {
  color: #ffa500;
  box-shadow: #ffa500 0px 0px 0px 1px !important;
}

.r-input-sm {
  font-size: 0.9rem !important;
  padding: 0 !important;
  height: 2rem !important;
}

.r-input-sm .selectInputBox {
  height: 2rem !important;
}
.r-input-sm input,
.r-input-sm select {
  font-size: 1rem !important;
  margin-left: 0 !important;
}
.r-input-sm label {
  font-size: 0.8rem !important;
}

@media only screen and (max-width: 780px) {
  .r-input-box input {
    font-size: 1rem;
    padding-left: 0px;
  }
  .r-input-box label {
    font-size: 0.8rem;
  }
}
