.r-tag-main-box {
  padding: 2.5px 10px;
  color: #fff;
  fill: #fff;
  font-size: 0.7rem !important;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.r-tag-main-box svg {
  font-size: 0.7rem !important;
}

.r-tag-rounded {
  border-radius: 2rem;
  padding: 2.5px 10px;
}

.r-tag-icon-box svg {
  font-size: 0.7rem !important;
}

.r-tag-success {
  background-color: #3f7d54;
}
.r-tag-success:hover {
  background-color: #056639;
}
.r-tag-text-success {
  color: #3f7d54;
  background-color: #3f7d5420;
}
.r-tag-text-success:hover {
  background-color: #3f7d5440;
}
.r-tag-text-success-border {
  border: 1.5px solid #3f7d5440;
}

.r-tag-danger {
  background-color: #cb2a29;
}
.r-tag-danger:hover {
  background-color: #9c1f1e;
}
.r-tag-text-danger {
  color: #cb2a29;
  background-color: #cb2a2920;
}
.r-tag-text-danger:hover {
  background-color: #cb2a2930;
}
.r-tag-text-danger-border {
  border: 1.5px solid #cb2a2940;
}

.r-tag-info {
  background-color: #2e86c1;
}
.r-tag-info:hover {
  background-color: #2375ac;
}
.r-tag-text-info {
  color: #2e86c1;
  background-color: #2e86c120;
}
.r-tag-text-info:hover {
  background-color: #2e86c140;
}
.r-tag-text-info-border {
  border: 1.5px solid #2e86c140;
}

.r-tag-dark {
  background-color: #606062;
}
.r-tag-dark:hover {
  background-color: #424246;
}
.r-tag-text-dark {
  color: #424246;
  background-color: #42424610
}
.r-tag-text-dark:hover {
  background-color: #42424630 !important;
}
.r-tag-text-dark-border {
  border: 1.5px solid #60606240;
}


.r-tag-warning {
  background-color: #ffa500;
}
.r-tag-warning:hover {
  background-color: #df9100;
}
.r-tag-text-warning {
  color: #ffa500;
  background-color: #ffa50015;
}
.r-tag-text-warning:hover {
  background-color: #ffa50040;
}
.r-tag-text-warning-border {
  border: 1.5px solid #bbaa8b70;
}

.r-tag-black {
  background-color: #000000;
}
.r-tag-black:hover {
  background-color: #202020;
}
.r-tag-text-black {
  color: #000000;
  background-color: #19191920;
}
.r-tag-text-black:hover {
  background-color: #19191940;
}
.r-tag-text-black-border {
  border: 1.5px solid #19191950;
}

.r-tag-white {
  background-color: #fff;
  color: #000;
}
.r-tag-white:hover {
  background-color: #60606010;
}
.r-tag-text-white {
  color: #000000;
}
.r-tag-text-white:hover {
  background-color: #60606010;
}
.r-tag-text-white-border {
  border: 1.5px solid #19191950;
}

.r-tag-none {
  background-color: #fff;
  color: #000;
}
.r-tag-none:hover {
  background-color: #60606010;
}
.r-tag-text-none {
  color: #000000;
}
.r-tag-text-none:hover {
  background-color: #60606010;
}
.r-tag-text-none-border {
  border: 1.5px solid #19191950;
}
