.r-toast-container-box {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  width: clamp(320px, 340px, 100%);
  gap: 10px;
}

.r-toast-box {
  width: clamp(300px, 320px, 100%);
  height: auto;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  top: 0;
  color: #393939;
  font-size: 0.9rem;
  cursor: pointer;
}

.r-toast-content-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.r-toast-icon-box {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.r-toast-content-box div {
  width: 85%;
}

.r-toast-show-left {
  animation: toastBounce 1s ease-in-out, showFromLeft 0.2s ease;
}

.r-toast-show-right {
  animation: toastBounce 1s ease-in-out, showFromRight 0.2s ease;
}

.r-toast-success .r-toast-time-bar {
  background-color: #3f7d54;
}
.r-toast-colored-success {
  background-color: #3f7d54;
  color: #fff;
}
.r-toast-colored-success .r-toast-time-bar {
  background-color: #fff;
}

.r-toast-error .r-toast-time-bar {
  background-color: #cb2a29;
}
.r-toast-colored-error {
  background-color: #cb2a29;
  color: #fff;
}
.r-toast-colored-error .r-toast-time-bar {
  background-color: #fff;
}

.r-toast-warning .r-toast-time-bar {
  background-color: #ffa500;
}
.r-toast-colored-warning {
  background-color: #ffa500;
  color: #fff;
}
.r-toast-colored-warning .r-toast-time-bar {
  background-color: #fff;
}

.r-toast-info .r-toast-time-bar {
  background-color: #2e86c1;
}
.r-toast-colored-info {
  background-color: #2e86c1;
  color: #fff;
}
.r-toast-colored-info .r-toast-time-bar {
  background-color: #fff;
}

.r-toast-time-bar {
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.r-toast-container-toasts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 1s ease;
}

.r-toast-top-right {
  position: absolute;
  top: 0;
  right: -25px;
  background-color: #c51f1f10;
}
.r-toast-top-right .r-toast-container-toasts-box {
  position: fixed;
  top: 0;
  padding-top: 15px;
}
.r-toast-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.r-toast-top-left .r-toast-container-toasts-box {
  position: fixed;
  top: 0;
  left: 10px;
  padding-top: 15px;
}
.r-toast-bottom-left {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.r-toast-bottom-left .r-toast-container-toasts-box {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}
.r-toast-bottom-right {
  position: absolute;
  bottom: 0;
  right: -25px;
}
.r-toast-bottom-right .r-toast-container-toasts-box {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}

/* ---------- ICONS ---------- */
.r-toast-icon-success {
  width: 90%;
  background-color: #3f7d54;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.r-toast-colored-success .r-toast-icon-success {
  background-color: #fff;
  color: #3f7d54;
}

.r-toast-icon-error {
  display: inline-block;
  width: 90%;
  background-color: #cb2a29;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.r-toast-colored-error .r-toast-icon-error {
  background-color: #fff;
  color: #cb2a29;
}

.r-toast-icon-warning {
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.r-toast-icon-warning:before {
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  transform: translate(7.5%, -40%);
  z-index: 1;
  content: "!";
}
.r-toast-colored-warning .r-toast-icon-warning:before {
  color: #ffa500;
}
.r-toast-icon-warning:after {
  display: inline-block;
  margin-left: 3px;
  font-size: 5px;
  border: solid 3em transparent;
  border-top-width: 0;
  border-bottom-width: 5em;
  border-bottom-color: #ffa500;
  width: 0;
  margin-left: 0px;
  clip-path: circle(54% at 50% 69%);
  vertical-align: bottom;
  content: "";
}
.r-toast-colored-warning .r-toast-icon-warning:after {
  border-bottom-color: #fff;
}

.r-toast-icon-info {
  width: 90%;
  background-color: #2e86c1;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.r-toast-colored-info .r-toast-icon-info {
  background-color: #fff;
  color: #2e86c1;
}

.r-toast-close-svg {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #60606060;
}

.r-toast-close-svg:hover {
  color: #606060;
}

.r-toast-colored-success .r-toast-close-svg,
.r-toast-colored-warning .r-toast-close-svg,
.r-toast-colored-error .r-toast-close-svg,
.r-toast-colored-info .r-toast-close-svg {
  color: #fff;
}

@media only screen and (max-width: 620px) {
  .r-toast-box {
    width: clamp(300px, 95%, 100%);
  }

  .r-toast-icon-warning:before {
    transform: translate(5%, -35%) !important;
    content: "!";
  }
}

@keyframes toastBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(0px);
  }
}

@keyframes toastBounceToTop {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(0px);
  }
}

@keyframes showFromLeft {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes hideToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes showFromRight {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes hideToRight {
  0% {
    transform: translate(0%, 0%);
    height: auto;
  }
  50% {
    transform: translate(+150%, 0%);
  }
  100% {
    transform: translate(+150%, -150%);
    height: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
  }
}

@keyframes toastTimeBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
