svg {
  width: 100px;
  display: block;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.7s ease-in-out;
}

.path.cross1 {
  stroke-dashoffset: -100;
  -webkit-animation: dash-cross1 0.9s 0.35s ease-in-out forwards;
  animation: dash-cross1 0.9s 0.35s ease-in-out forwards;
}

.path.cross2 {
  stroke-dashoffset: 100;
  -webkit-animation: dash-cross2 0.9s 0.35s ease-in-out forwards;
  animation: dash-cross2 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-cross1 {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-cross1 {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@-webkit-keyframes dash-cross2 {
  0% {
    stroke-dashoffset: 900;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
@keyframes dash-cross2 {
  0% {
    stroke-dashoffset: 900;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
